<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c2f0807e7a.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark  w-100">
    <a class="navbar-brand mr-auto" href="/">Ap<i class="fas fa-utensils"></i>FreshFood.com</a>
    <a class="navbar-brand mx-auto order-0">เวลาทำการ 10.00 น. ถึง 20.00 น.</a>
    <ul class="navbar-nav ml-auto">
        <li><a class="nav-link px-2" href="/register">สมัครสมาชิก</a></li>
        <li><a class="nav-link px-2" href="/login">เข้าสู่ระบบ</a></li>
    </ul>
</nav>
</body>
</html>