<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style>
        .flex-container{
            display: flex;!important;
            justify-content: center;!important;
        }
        .table-text{
            width: 20%; !important;
        }
        .table-button{
            width: 40%; !important;
        }
        td{
            text-align: center; !important;
        }
        th{
            text-align: center; !important;
        }
    </style>
</head>
<body>
<div class="table-responsive" style="width: 100%;margin-top: 10px;margin-bottom: 10px">
    <table id="table" class="display w-100 d-block d-md-table">
        <colgroup>
            <col class="table-text">
            <col class="table-text">
            <col class="table-text">
            <col class="table-button">
        </colgroup>
        <thead>
            <th class="text-center">หมายเลขคำสั่งชื้อ</th>
            <th class="text-center">วัน-เวลาที่สั่งชื้อ</th>
            <th class="text-center">สถานะคำสั่งชื้อ</th>
            <th class="text-center">#</th>
        </thead>
        <tbody>
            <tr th:each="o :${orders}">
                <td class="text-class"><span th:text="${o.orderCode}"></span></td>
                <td class="text-class"><span th:text="${o.formatDateTime()}"></span></td>
                <td class="text-class"><span class="text-primary">คำสั่งชื้อใหม่</span></td>
                <td class="text-class">
                    <div class="flex-container">
                        <form action="/admin/orders/confirm" method="post">
                            <input type="hidden" th:name="orderId" th:value="${o.orderId}">
                            <input type="hidden" th:name="orderCode" th:value="${o.orderCode}">
                            <input type="submit" class="btn btn-info" value="ยืนยันคำสั่งชื้อ">
                        </form>
                        <form action="/admin/orders/cancel" style="margin-left: 5px" method="post">
                            <input type="hidden" th:name="orderId" th:value="${o.orderId}">
                            <input type="submit" class="btn btn-danger" value="ยกเลิกคำสั่งชื้อ">
                        </form>
                        <a th:href="@{/admin/orders/detail/{code}(code=${o.orderCode})}" class="btn btn-primary"  style="margin-left: 5px">ดูรายละเอียด</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>