<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet">
    <title>จัดการพนักงาน</title>
    <style>
        .toolbar{
            float: right;
            margin-left: 5px;
        }
    </style>
</head>
<body>
<div th:insert="fragments/headerManager.html"></div>
<div class="container justify-content-center" style="margin-top: 20px;width: 100%">
    <div class="table-responsive" style="width: 100%;margin-top: 10px;margin-bottom: 10px">
        <table id="table" class="display w-100 d-block d-md-table" style="width: 100%">
            <colgroup>
                <col class="w-20">
                <col class="w-20">
                <col class="w-20">
            </colgroup>
            <thead>
                <th class="text-center">รหัสพนักงาน</th>
                <th class="text-center">ชื่อ-นามสกุล</th>
                <th class="text-center">#</th>
            </thead>
            <tbody>
                <tr th:each="e :${employees}">
                    <td class="text-center"><span th:text="${e.employeeCode}"></span></td>
                    <td class="text-center"><span th:text="${e.getFullName()}"></span></td>
                    <td class="text-center"><a th:href="@{/admin/employees/{code}(code=${e.employeeCode})}"
                    class="btn btn-primary">ดูรายละเอียด</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript" charset="utf8"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js" type="text/javascript" charset="utf8"></script>
<script>
    $(document).ready(function() {
        $('#table').DataTable( {
            "dom": '<"toolbar">frtip',
            "info":     true,
            "lengthChange":false,
            "pageLength": 50,
            "columnDefs":[
                {orderable:true,"searchable": true,targets:0},
                {orderable:false,"searchable": false,targets: 1},
                {orderable:false,"searchable": false,targets: 2}
            ]
        } );
        $("div.toolbar").html('<a href="/admin/employees/add" class="btn btn-primary">เพิ่มพนักงาน</a>');
    } );
</script>
</body>
</html>