<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/error.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark bg-dark  w-100">
    <a class="navbar-brand mr-auto" href="/">Ap<i class="fas fa-utensils"></i>FreshFood.com</a>
</nav>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>4<span>0</span>4</h1>
        </div>
        <h2>the page you requested could not found</h2>
    </div>
</div>
</body>
</html>